
{% extends 'main.html' %} {%load static%} {% block content %}

    <div class="contact">

        <div>
            <div>
                <p>
                    <h1>Welcome students</h1>
                </p>
            </div>








            <div>
                <p>
                    <h2>If there are any problems contact us through:</h2>
                </p>
            </div>
        </div>
        <div>
            <dl>
                <dt>
                        <ol>
                            <div>
                                <li>
                                    <h3>
                                        phone numbers:
                                        <ul>
                                            <li>0100468731</li>
                                            <li>0100880306</li>
                                            <li>0122468943</li>
                                        </ul>
                                    </h3>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <h3> whatsapp numbers:
                                        <ul>
                                        
                                            <li>0118764914</li>
                                            <li>0126389411</li>
                                        
                                        </ul>
                                    </h3>
                                    
                                </li>

                            </div>
                            <div>
                                <li>
                                    <h3>
                                    
                                        <ul>
                                            <li>
                                                <a href="" target="blank">Facebook page</a> 
                                        
                                            </li>
                                        </ul>
                                    </h3>
                                </li>
                            </div>

                            <div>
                                <li>
                                    <h3>
                                        <ul>
                                            <li>
                                                <a href="" target="blank" >Email addsress </a>
                                            </li>
                                        </ul>
                                    </h3>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <h3>
                                        <ul>
                                            <li>
                                                <a href="" target="blank">Instagram</a>
                                            </li>
                                        </ul>
                                    </h3>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <h3>
                                        <ul>
                                            <li>
                                                <a href="" target="blank">Twitter</a>
                                            </li>
                                        </ul>
                                    </h3>
                                </li>
                            </div> 
                        </ol>
                    </dt>
            </dl>
        </div>
    </div>

{% endblock %}