{% extends 'main.html' %} {%load static%} {% block content %}
<h1 class="main-title">
    <img src="{%static 'imgs/images.jpg'%}" alt="">
    <br> Welcome To FCI Community
</h1>


<br><br><br>

<h1 class="main-title">
    About dep.
</h1>

<div class="container">


    <div class="box">
        <div class="box-image">
            <img src="{% static 'imgs/computer-scie0nce.jpg' %}" alt="">
        </div>
        <div class="descripe">
            <h1>CS</h1>
            <p>. Sequi quibusdam labore nis</p>
            <a href="#">learn more about the dep.</a>
        </div>
    </div>



    <div class="box">
        <div class="box-image">
            <img src="{% static 'imgs/bigstock-School-Children-Learning-Codin-344363629-1024x645.jpg' %}" alt="">
        </div>
        <div class="descripe">
            <h1>IS</h1>
            <p>. Sequi quibusdam labore nis</p>
            <a href="#">learn more about the dep.</a>
        </div>
    </div>



    <div class="box">
        <div class="box-image">
            <img src="{% static 'imgs/Computer-Science-1024x717.jpg' %}" alt="">
        </div>
        <div class="descripe">
            <h1>AI</h1>
            <p>. Sequi quibusdam labore nis</p>
            <a href="#">learn more about the dep.</a>
        </div>
    </div>

    <div class="box">
        <div class="box-image">
            <img src="{% static 'imgs/it.png' %}" alt="" style="border-bottom:1px solid gray ;">
        </div>
        <div class="descripe">
            <h1>
                IT
            </h1>
            <p>. Sequi quibusdam labore nis</p>
            <a href="#">learn more about the dep.</a>
        </div>
    </div>
</div>


{%endblock%}