{% extends 'main.html' %} {%load static%} {% block content %}
    <div class="Main">

    </div>

    <br><br><br><br>

    <div class="Logo">

        <div class="Faculty logo" style="display: inline;">
            <img src="{% static 'imgs\Fcai.jpg' %}" alt="Faculty logo">
        </div>

        <div class="University logo" style="display: inline;">
            <img src="{% static 'imgs\University.jpg' %}" alt="University logo" height="260" width="200">
        </div>

    </div>
    <br><br><br><br>

    <div id="par_container">

        <p class="par"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, nemo praesentium reiciendis eos at, sit minima quaerat illum nam voluptate ratione rerum odio? Repellat sit magni cum, quas aspernatur reprehenderit. Lorem ipsum dolor sit Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Harum obcaecati cum ratione quas rerum reiciendis dignissimos! Nobis quae ipsam quaerat soluta architecto ex obcaecati voluptas nihil cupiditate vitae, optio dolores. m accundepernatur facere
            quae modi laborum recusandae sadasdas
            <button class="read-more">read more </button>
        </p>


        <p class="par"> Lorem ipsum dolor sit amet, elit. Illum iure rerum accusantium quas natus dolor ullam assumenda consectetur nobis commodi, unde odit voluptate aspernatur facere quae modi laborum recusandae Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Maxime aperiam nisi corporis enim cumque! Similique excepturi architecto nihil deleniti adipisci, laudantium consectetur iste nemo, tempora fugiat eum aut, labore iure?

            <button class="read-more">read more </button>
        </p>


        <p class="par"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione harum, voluptates, reiciendis nostrum quam ea odio totam eaque quas possimus nihil ut numquam voluptas nisi consectetur id in minima consequuntur. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Ducimus, distinctio! Expedita consequatur harum maiores fuga deleniti deserunt corporis impedit saepe perspiciatis sunt, laudantium cum consequuntur, neque voluptatem. Ullam, quaerat doloremque! Lorem ipsum dolor sit amet,
            elit. Illum iure rerum accusantium quas natus dolor ullam assumenda consectetur nobis commodi, unde odit voluptate aspernatur facere quae modi laborum recusandae
            <button class="read-more">read more </button>
        </p>

    </div>

    </div>

    <br>
    <hr><br>



    <script src="{%static 'js/news.js'%}"></script>
{% endblock %}